<div class="container">

 <img [src]="srcUtn" alt="utn">
<br>
{{nombre}}
<br>
<input [(ngModel)]="nombre" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre">
<br><br>
<button (click)="imagen2()">Moe</button>
<button (click)="imagen1()">UTN</button>
<button (click)="imagen3()">3</button>
<br>
<button (click)="enviar()">Agregar Nombre</button>
    <div *ngIf="nombre == 'martin'">
        Hola soy martin
    </div>
    <div *ngFor="let ObjetoEj of miLista; index as i"class="ObjetoEj">
        <app-mascota
         (turno)="sacarTurno($event)"
         [ObjetoEj]="ObjetoEj"
        ></app-mascota>
        <!--Crear componente mascota-->
        <!--<h3>{{ObjetoEj.nombre}}</h3>
        <h4>{{ObjetoEj.tipo}}</h4>
        <img [src]="ObjetoEj.imagen" alt="imagen">-->
    </div>
 </div>

